$o-community-color: #28a745;
$o-enterprise-color: #218838;
$o-enterprise-action-color: #1e7e34;
$o-brand-odoo: #28a745;
$o-brand-primary: #28a745;
$o-success: #28a745;
$o-info: #17a2b8;
$o-warning: #ffc107;
$o-danger: #dc3545;

$o-theme-text-colors: (
  "primary": $o-brand-primary,
  "success": $o-success,
  "info": $o-info,
  "warning": $o-warning,
  "danger": $o-danger,
);
